.purchase-container {
    margin:2% 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.purchase-add-btn {
  margin-bottom: 15px;
}

#purchase-add-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #008542;
  color: white;
  padding: 10px;
  border-radius: 3px;
  font-weight: bold;
}

.purchase-table {
  justify-content: end;
  border-collapse: collapse;
  text-align: center;
  font-size: 1em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.purchase-table thead tr {
  background-color: #008542;
  font-weight: bold;
  color: white;
}
.purchase-table th,
.purchase-table td {
  padding: 18px 15px;
}
.purchase-table tr {
  border-bottom: 1px solid #daccccdd;
}
.purchase-table tr:nth-of-type(even) {
  background-color: #d3e2da;
}
.purchase-table tr:last-of-type {
  border-bottom: 3px solid #008542;
}
